.fare-selector {
  margin-right: 5px;
  width: 100%;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 0 10px;
    display: flex;
    min-height: 65px;
    align-items: center;
    background: #f4f5f8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__content {
    background: #fff;
    border: 1px solid #dae0e8;
    height: 100%;
    min-height: 200px;
    padding: 10px;

    ul {
      padding: 0;
      margin: 0;
    }

    .right {
      border-bottom: 1px solid #dae0e8;
      padding: 5px;
      list-style-type: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  &__footer {
    .button {
      width: 100%;
      height: 39px;
      display: block;
      background: #e81932;
      color: #fff;
      font-size: 14px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
